/* Βασικά στυλ για τη σελίδα */
body {
    font-family: "Work Sans", sans-serif;
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow-x: hidden;
    background-color: #f4f7f7; 
  }
  
  /* Header */
header {
  background-color: transparent; /* Διαφανές φόντο */
  color: #1f4e5f;
  padding: 10px 0; 
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  font-size: 20px; 
  font-weight: 600; 
  letter-spacing: 1px;
  font-family: 'Poppins', sans-serif;
}



  /* Navigation Menu */
  nav ul {
    
    list-style-type: none;
    padding: 20px;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: transparent; 
   
  }
  
  nav ul li {
    position: relative;
    margin-right: 15px;
    
  }
  
  nav ul li a {
    color: #1f4e5f;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-family: 'Poppins', sans-serif;
   
  }
  
  nav ul li a:hover {
    background-color: #4d727e; 
    border-radius: 50px;
  }
  
  /* Dropdown Menu */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color:  #1f4e5f;
    min-width: 200px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 0;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  
  
  
  
  /* Στυλ για το Hero Section */
  .hero-section {
      color: white;
      text-align: center;
      padding: 100px 20px;
      width: 100vw; /* Καταλαμβάνει όλο το πλάτος της οθόνης */
      position: fixed; /* Μένει στο κάτω μέρος της σελίδας */
  }
  
  .hero-section h1 {
      font-size: 3em;
      margin-bottom: 10px;
  }
  
  .hero-section p {
      font-size: 1.5em;
      margin-bottom: 20px;
  }
  
  .hero-section .btn {
      background-color:  #4d727e;
      color: white;
      padding: 15px 30px;
      text-decoration: none;
      font-size: 1.2em;
  }
  
  
  /* Στυλ για το Footer */
  footer {
      background-color: transparent;
      color: black;
      text-align: center;
      padding: 20px;
      width: 100vw; /* Καταλαμβάνει όλο το πλάτος της οθόνης */
   
  }
  
  footer ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
  }
  
  footer ul li {
      display: inline;
      margin-right: 15px;
  }
  
  footer ul li a {
      color: white;
      text-decoration: none;
  }
  