/* Βασικά στυλ για τη σελίδα */
body {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
  background-color: #f8f9fa; /* Απαλό υπόβαθρο */
}

/* Header */
header {
  background-color: teal;
  color: white;
  padding: 20px;
  text-align: center;
  width: 100vw;
  box-sizing: border-box;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 2px;
}

/* Navigation Menu */
nav ul {
  list-style-type: none;
  padding: 20px;
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: #004d40; /* Σκούρο πράσινο */
}

nav ul li {
  position: relative;
  margin-right: 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  transition: background-color 0.3s ease, color 0.3s ease;
}

nav ul li a:hover {
  background-color: #ff5722; /* Πορτοκαλί hover effect */
  border-radius: 5px;
}

/* Dropdown Menu */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #e38a45;
  min-width: 200px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 0;
}

.dropdown:hover .dropdown-content {
  display: block;
}





/* Στυλ για το Hero Section */
.hero-section {
    color: white;
    text-align: center;
    padding: 100px 20px;
    width: 100vw; /* Καταλαμβάνει όλο το πλάτος της οθόνης */
    position: fixed; /* Μένει στο κάτω μέρος της σελίδας */
}

.hero-section h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

.hero-section p {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.hero-section .btn {
    background-color: #ff5722;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 1.2em;
}


/* Στυλ για το Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    width: 100vw; /* Καταλαμβάνει όλο το πλάτος της οθόνης */
 
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

footer ul li {
    display: inline;
    margin-right: 15px;
}

footer ul li a {
    color: white;
    text-decoration: none;
}



  /*βηματα κι θεωρημα */
  .menu > .menu-item > div {
    display: flex;
    justify-content: center;
  }
  
  .menu > .menu-item > div > a {
    text-decoration: none;
    color: inherit;
  }
  
  .menu > .menu-item > div > a > div {
    margin: 20px;
    width: 7vw;
    height: 7vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
  }
  
  .menu > .menu-item > div > a > div::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    transition: top, bottom, right, left, 300ms ease-in-out;
  }
  
  .menu > .menu-item > div > a > .fcfs::before {
    border: 3px solid #ffc000;
  }
  .menu > .menu-item > div > a > .sjf::before {
    border: 3px solid #06b0d7;
  }
  .menu > .menu-item > div > a > .ljf::before {
    border: 3px solid #010b1e;
  }
  .menu > .menu-item > div > a > .rr::before {
    border: 3px solid #430f0f;
  }
  .menu > .menu-item > div > a > .srjf::before {
    border: 3px solid #e41d1d;
  }
  .menu > .menu-item > div > a > .pp::before {
    border: 3px solid #484749;
  }
  .menu > .menu-item > div > a > .hrrn::before {
    border: 3px solid #ff005d;
  }
  .menu > .menu-item > div > a > .lrjf::before {
    border: 3px solid #220a41;
  }
  .menu > .menu-item > div > a > .pnp::before {
    border: 3px solid #dda3c4;
  }
  
  .menu > .menu-item > div > a > div:hover::before,
  .menu > .menu-item > div > a > div:focus::before {
    top: calc(4px * -1.5);
    bottom: calc(4px * -1.5);
    right: calc(4px * -1.5);
    left: calc(4px * -1.5);
  }
  
  .menu > .menu-item > div > a > div > div:first-child {
    font-family: "Work Sans", sans-serif;
    font-size: 20px;
    font-weight: 600;
  }
  
  .menu > .menu-item > div > a > div > div:last-child {
    font-family: "Work Sans", sans-serif;
    font-size: 9px;
    font-weight: 400;
    text-align: center;
  }
  
  .menu > .menu-item > div > a > .fcfs {
    background-color: #ffc000;
  }
  
  .menu > .menu-item > div > a > .sjf {
    background-color: #06b0d7;
  }
  
  .menu > .menu-item > div > a > .ljf {
    background-color: #010b1e;
    color: aliceblue;
  }
  
  .menu > .menu-item > div > a > .rr {
    background-color: #430f0f;
    color: aliceblue;
  }
  
  .menu > .menu-item > div > a > .srjf {
    background-color: #e41d1d;
    color: aliceblue;
  }
  
  .menu > .menu-item > div > a > .pp {
    background-color: #484749;
    color: aliceblue;
  }
  
  .menu > .menu-item > div > a > .hrrn {
    background-color: #ff005d;
    color: aliceblue;
  }
  
  .menu > .menu-item > div > a > .lrjf {
    background-color: #220a41;
    color: aliceblue;
  }
  
  .menu > .menu-item > div > a > .pnp {
    background-color: #dda3c4;
  }
  
  .content {
   
    width: 100%;
    font-family: "Work Sans", sans-serif;
    display: flex;
    justify-content: center;
  }
  
  .content > .theory {
    background-color: white;
  }
  
  .content > .theory > .theory-heading {
    text-align: center;
    padding: 0px;
    margin:0px;
    background-color: #ff5722;
    letter-spacing: 5px;

  }
  
  .content > .theory > .theory-heading > div:first-child {
    font-size: 30px;
    font-weight: 600;
    padding: 30px 0px;
  }
  
  .content > .theory > .theory-heading > div:last-child {
    font-size: 20px;
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
  }
  
  .content > .theory > .theory-text {
   
    background-color: rgb(243, 243, 243);
    border-radius: 5px;
    padding: 50px 100px;
  }
  
  .content > .theory > .theory-text > div:first-child {
    font-size: 25px;
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .content > .theory > .theory-text > div:nth-child(2) {
    height: 1.5px;
    background-color: rgb(216, 216, 216);
    width: 100%;
  }
  
  .content > .theory > .theory-text > div:last-child {
    text-align: justify;
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 17px;
    letter-spacing: 0.5px;
    line-height: 30px;
    color: rgb(61, 61, 61);
    padding-top: 20px;
  }
  
  .content > .theory > .theory-step {
    
    background-color: #252141;
    
    padding: 20px 100px 40px 100px;
  }
  
  .content > .theory > .theory-step > ul {
    text-align: justify;
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.5px;
    line-height: 30px;
    color: rgb(221, 221, 221);
    padding: 20px 0px 0px 20px;
    list-style: none;
  }
  
  .content > .theory > .theory-step > ul > label {
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #638891;
    letter-spacing: 0.5px;
    line-height: 30px;
  }
  
  .content > .theory > .theory-step > ul > li {
    padding-bottom: 15px;
  }
  






  


/*Απο εδω κι κατω*/


.disk-track {
  display: inline-block;
  margin: 5px;
  padding: 10px;
  background-color: teal;
  color: white;
  border-radius: 5px;
  width: 50px;
}
.seek-sequence {
  margin-top: 20px;
}
.input-steps {
  text-align: left;
  margin: 20px auto;
  max-width: 600px;
}
.input-steps p {
  margin: 10px 0;
}
.input-steps input {
  width: 100%;
  padding: 8px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.input-steps button {
  padding: 10px 20px;
  background-color: teal;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.input-steps button:hover {
  background-color: rgb(2, 172, 172);
}

.input-steps button, #resetButton {
  padding: 10px 20px;
  background-color: teal;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.input-steps button:hover, #resetButton:hover {
  background-color: rgb(2, 172, 172);
}



 /* Στυλ για τα βήματα */
 .step-box {
  border: 1px solid #333;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  background-color: #f0f0f0;
}
.step-time {
  font-weight: bold;
  color: #333;
}
.queue-state {
  margin-top: 5px;
  display: flex;
  gap: 5px;
}
.queue-process {
  padding: 5px 10px;
  border: 1px solid #333;
  border-radius: 3px;
  background-color: #e1e7f7;
}
.step-box div:nth-child(3) {
  margin-top: 10px; /* Δημιουργεί κενό μεταξύ της "Εκτελείται" και της "Αναμονή" */
}

.seek-sequence-boxes {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.sequence-box {
  padding: 10px 15px;
  background-color: #f0f0f0;
  border: 2px solid teal;
  border-radius: 8px;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}
.seek-count-display {
  margin-top: 20px;
  padding: 15px;
  background-color: #f9f9f9;
  border: 2px solid teal;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  color: #007bff;
  text-align: center;
  box-shadow: 0px 4px 8px teal(0, 123, 255, 0.2);
  transition: all 0.3s ease;
}


.arrow {
  font-size: 20px;
  color: teal;
}



 /* Στυλ για τα κουτια εξυπηρετησης */
.seek-sequence ul {
  list-style-type: none;
  padding-left: 0;
}
.seek-sequence ul li {
  padding: 5px;
  font-size: 14px;
  border-bottom: 1px solid #ddd;
}
#seek-count-display {
  color: teal;
}

.queue-process {
  padding: 5px 10px;
  border: 1px solid #333;
  border-radius: 3px;
  background-color: #e1e7f7;
}

.queue-process.active {
  background-color: #ffcccb;
  font-weight: bold;
  border-color: #ff0000;
}

 



/*Pop up Κουτακια για valid inputs*/
.popup {
  position: relative;
  display: inline-block;
}

.popup .popuptext {
  visibility: hidden;
  width: 200px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* τοποθέτηση πάνω από το input */
  left: 50%;
  margin-left: -100px;
  opacity: 0;
  transition: opacity 0.3s;
}

.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.popup:hover .popuptext,
.popup:focus .popuptext {
  visibility: visible;
  opacity: 1;
}






/**Page replacement πίνακας */

.visual-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.visual-table th,
.visual-table td {
  border: 1px solid #ccc;
  padding: 15px; /* Αυξάνει το μέγεθος των κελιών */
  font-size: 18px; /* Μεγαλύτερη γραμματοσειρά */
  text-align: center;
}

.visual-table th {
  background-color: #f2f2f2;
}

#resultText {
  margin-top: 20px;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

#resultText .faults {
  color: red;
  font-weight: bold;
}

#resultText .hits {
  color: green;
  font-weight: bold;
}



